<div class="main">
  <div class="centro">
    <strong>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Nintendo_gray_logo.svg/1280px-Nintendo_gray_logo.svg.png"
        alt="nintendo_logo"
        height="95px"
        style="margin-top: 20px; margin-bottom: 10px"
      />
      <h3 style="color: white; font-size: 48px; margin-bottom: 10px">
        ¡BUSCA UN AMIIBO!
      </h3></strong
    >
    <input
      class="form-control"
      type="text"
      id="nombreAmiibo"
      name="nombre"
      style="
        font-size: larger;
        height: 40px;
        width: 30%;
        margin-left: auto;
        margin-right: auto;"
      required
      placeholder="Escribe un nombre"
      [(ngModel)]="urlApi"
    />
    <br /><br />

    <!-- Este div sirve para separar los botones y que no se expanda el header negro -->
    <div style="color: white">
      <button class="btn btn-outline-success" (click)="send()" style="font-size: x-large">
        Buscar Amiibo
      </button>
      <!-- Ó
      <button
        class="btn btn-outline-warning"
        (click)="sendAll()"
        style="font-size: x-large"
      >
        Mostrar todos
      </button> -->
    </div>
    <br />
  </div>
</div>

<!-- error de not found -->
<div *ngIf="!isOk" class="notfound">
  <p class="titulo404">4 0 4 - NOT FOUND</p>
  <p>Intente con otro amiibo o revise si su nombre está bien escrito</p>
</div>

<!-- esto es con el componente display -->
<div >
  <display nombre={{nombre}}></display>
</div>
